<p class="hero">
<strong>RawGit</strong> serves raw files directly from GitList with proper <strong>Content-Type</strong> headers.
</p>

<div class="pure-g-r url-helper">
    <div class="pure-u-1">
        <p id="url-form">
            <label for="url" class="offscreen">GitList URL:</label>
            <input id="url" class="url" type="url" placeholder="Paste a GitList file here." autofocus>
        </p>
    </div>

    <div class="column pure-u-1 slim">
        <h2>Use this URL for sharing/dev/testing</h2>

        <p>
        <input id="url-dev" class="url" placeholder="https://{{config.devDomain}}/repo/branch/file" readonly>
        </p>

        <ul>
        <li><p>For sharing <strong>low-traffic, temporary examples or demos</strong> with small numbers of people.</p></li>
        <li><p>New changes you push to GitList will be reflected within minutes.</p></li>
        </ul>
    </div>

</div>

<p class="center">
RawGit has been modified to work with GitList.  View the <a href="https://github.com/rgrove/rawgit">RawGit GitHub source</a> for original version.
</p>

<script>
var cdnDomain = '{{config.cdnDomain}}';
var devDomain = '{{config.devDomain}}';
</script>
<script src="{{{assetUrl "/js/url-formatter.js"}}}"></script>
